<section class="profile">
  <div class="profile__left-block">
    <a href="/profile" class="link">
    <div class="profile__round-link">
    </div>
    </a>
  </div>
  <div class="profile__right-block">
    <form action="" class="profile__form">
      <div class="profile__avatar-container">
        {{{avatar}}}
      </div>
      <h2 class="profile__title"></h2>
      <label class="profile__input-title">
        Старый пароль
        <input type="password" name="oldPassword" class="profile__input" required value={{oldPassword}}>
      </label>
      <label class="profile__input-title">
        Новый пароль
        <input type="password" name="newPassword" class="profile__input" required value={{newPassword}}>
      </label>
      <label class="profile__input-title">
        Повторите новый пароль
        <input type="password" name="confirmNewPassword" class="profile__input" required value={{confirmNewPassword}}>
      </label>
      <div class="profile__space"></div>
      {{{button}}}
    </form>
  </div>
</section>
